.all-courses-wrapper {
  padding: 2em 5em;

  & > h1 {
    font-size: 40px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 0;
  }

  & > p {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
  }

  @media (max-width: 600px) {
    padding: 2em 0;
  }
}