.course-card {
    width: 500px;
    margin: 2em;
}

.course-card .course-card-publisher {
    margin-top: 3em;
    margin-bottom: 0;
    padding: 0;
}

.course-card .course-card-title .ant-card-meta-title {
    font-size: 24px;
}

@media (max-width: 600px) {
    .course-card {
        width: 350px;
    }
}