.app-title {
    float: left;
    padding: 0 2em;
}

.app-title a {
    text-decoration: none;
    line-height: 64px;
    font-size: 21px;
    display: inline-block;
    color: #d1a700;
}

.app-title a:hover {
    text-decoration: none;
}

.app-header {
    background: linear-gradient(130deg, #0f0f0f 20%, #303030) !important;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.app-menu {
    float: right;
    background: transparent;
}

.app-menu > li {
    padding: 0 1.5em !important;
    margin: 0 0.5em !important;
    top: 0 !important;
    color: #dddddd;
}

.app-menu > li:hover, .app-menu > li.ant-menu-item-selected {
    border-bottom: 2px solid #e5bc00 !important;
    color: #e5bc00 !important;
}

.app-menu > li > a {
    color: inherit !important;
}

.app-menu > li > a > .anticon {
    margin: 0 !important;
    font-size: 20px !important;
}