.jumbotron {
    position: relative;
}

.jumbotron .board {
    width: 100%;
    height: 500px;
    filter: blur(2px);
    background-image: url(
    https://cdna.artstation.com/p/assets/images/images/025/591/810/4k/david-frasheski-cat-is-yelling-at-me-fin.jpg?1586285191
    );
    background-size: cover;
    background-position: center;
}

.jumbotron .text {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(0, 0%);
}

.jumbotron h1,
.jumbotron h3 {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

.jumbotron h1 {
    font-size: 5em;
    font-weight: 900;
    line-height: 1.1em;
}

.jumbotron h3 {
    font-size: 1.5em;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .jumbotron .text {
        top: -5%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
    }

    .jumbotron h1 {
        font-size: 4em;
        font-weight: 900;
        line-height: 1.1em;
    }

    .jumbotron h3 {
        font-size: 1.5em;
        font-weight: 400;
    }
}

@media screen and (max-width: 900px) {
    .jumbotron .text {
        top: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
        width: 100%;
    }

    .jumbotron h1 {
        font-size: 3em;
        font-weight: 900;
        line-height: 1.1em;
    }

    .jumbotron h3 {
        font-size: 1.25em;
        font-weight: 400;
    }
}