.ant-layout {
    height: 100%;
}

.ant-layout .ant-layout-sider {
    background: #0f0f0f;
}

.ant-layout .ant-layout-sider .ant-menu {
    background: #0f0f0f;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.65);
}

.trigger:hover {
    color: #fff;
}

.logo {
    height: 28px;
    background: #ffffff;
    margin: 16px;
}

.site-layout .site-layout-header {
    background: linear-gradient(130deg, #0f0f0f 20%, #303030) !important;
}