.site-layout {
    min-height: 100vh;
}

.site-layout-footer {
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.site-layout-content {
    margin-top: 60px;
}